[Unit]
Description=KMS Service
After=network.target

[Service]
Type=forking
User=root
Environment=KMS_HOME=/root
Environment=LD_LIBRARY_PATH=/root/lib

ExecStartPre=/root/bin/pman -a ABRK abrk 0
ExecStartPre=/root/bin/pman -a DBMD dbmd 0
ExecStartPre=/root/bin/pman -a IBRK ibrk 0
ExecStartPre=/root/bin/pman -a SYMD symd 0
ExecStartPre=/root/bin/pman -a CLID clid 0
ExecStartPre=/root/bin/pman -a EBRK ebrk 0
ExecStartPre=/root/bin/pman -a PAGTS pagts 0
ExecStartPre=/root/bin/pman -a SMMD smmd 0
ExecStartPre=/root/bin/pman -a ECDHD ecdhd 0
ExecStartPre=/root/bin/pman -a QKRD qkrd 0
ExecStartPre=/root/bin/pman -a KGND kgnd 0
ExecStartPre=/root/bin/pman -a KMSD kmsd 0
ExecStartPre=/root/bin/pman -a CAGTR cagtr 0
ExecStartPre=/root/bin/pman -a CAGTS cagts 0
ExecStartPre=/root/bin/pman -a CAGTN cagtn 0
ExecStartPre=/root/bin/pman -a CRTD crtd 0
ExecStartPre=/root/bin/pman -a SWD swd 0
ExecStart=/root/bin/pman -fs all

ExecStop=/root/bin/pman -fk all

Restart=no
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
